*{
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

#small2 {
  width: 60%;
  margin: auto;
}
.home{
  background-color: black;
  height: 100vh;
  width: 100vw;
 
}
.link:hover{
  background-color:rgb(84, 80, 80);
  
  
}



